* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.btn {
  background-color: #dd0000;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
.btn:hover{
    background-color: cadetblue;
    color:white;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  border-radius: 15px;
  margin: 50px auto;
  padding: 20px;
  animation: banner-animation 0.7s ease-out forwards;
  min-height: 400px;
}

.banner-left, .banner-right {
  flex: 1;
  padding: 20px;
}

.banner h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
  margin-top: 30px;
}

.banner p {
  color: #ffffff;
  margin: 15px 0;
  max-width: 65%;
}

.banner-right img {
  width: 400px;
  border-radius: 10px;
  margin-left: 100px;
}
.upcoming-match {
  display: flex;
  padding: 50px 0;
  gap: 20px;
}
.upcoming-match-left {
    background-color: black;
    width: 25%;
    height: fit-content;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.link{
    margin-top: 40px;
}
 .upcoming-match-left .btn:nth-child(1),
 .upcoming-match-left .btn:nth-child(2) {
    background-color: white;
    color:black;
 }
 .upcoming-match-right{
    grid-template-columns: repeat(3 ,3fr);
    gap: 20px;
    display: grid;

 }
 .upcoming-match-right .card {
    border: 1px solid salmon;
    border-radius: 10px;
 }
 .upcoming-match-right .card .card-body {
    padding: 20px;
 }
 .upcoming-match-right .card img {
    height: 180px;
    width: 100%;
    border-radius: 10px 10px 0 0;
 }
 .upcoming-match-right .card .btn {
    background-color:tomato;
    color:black;
    border: 2px solid tomato;
    padding: 8px 18px;
    margin-top: 10px;

}
.upcoming-match-right .card h2{
  margin: 15px 0;
  font-size: 18px;
  font-weight: 600px;
  color:cadetblue;
}
.card-bottom {
    display: flex;
    gap: 20px;
    color:#161616cc;
}
.footer h3{
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  background-color: antiquewhite;
  color:black;
  font-weight: bold;
  border: 2px solid gray;
  padding: 20px;
  font-size: 30px;
}


@media (max-width:568px) {
 .banner{
  flex-direction: column;
  padding: 15px;
  min-width:auto;
  background-color: violet;
}
.banner-left .banner-right {
  padding: 10px 0;
  text-align: center;
}
.banner-left h2{
  font-size: 30px;
  color:crimson;
  /* background-color: cadetblue; */
  padding: 10px;
  border-radius: 10px;
}
.banner-left p {
 font-size: 16px;
 max-width: 100px;
 color:black;
}
.banner-right img {
  width: 100%;
  margin: 20px 0 0 0;
  border-radius: 12px;
}
.upcoming-match {
  flex-direction: column;
  padding: 20px 0;
  /* background-color: blue; */
  /* background-color: black; */
background-color: white;
}
.upcoming-match-left {
  width: 100%;
  margin-bottom: 20px;
}
.upcoming-match-right {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.banner-left p {
  margin-top: 10px;
 font-size: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px 3px;
  margin: 0 auto;
  max-width: 90%; 
 
}
.footer h3{
  font-size: 20px;
  color:blue;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer{
  background-color: bisque;
  color:black;
}
.footer h3{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}
}


